/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #a4a3a8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  color: #ffffff; /* White text color */
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}
.navigation a:hover {
  color: #6c5fe9;
  transform: scale(1.1);
}

.navigation a:active {
  transform: scale(0.9);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 160px;
}

.dropdown-content a {
  display: block;
  padding: 0.5rem 1rem;
  color: #000;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content.open {
  display: block;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
  .dropdown-content {
    display: none !important;
  }
}
