@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root  {
      --background: 271.5 100% 95%;
      --foreground: 271.5 5% 0%;
      --card: 271.5 50% 90%;
      --card-foreground: 271.5 5% 10%;
      --popover: 271.5 100% 95%;
      --popover-foreground: 271.5 100% 0%;
      --primary: 271.5 81.3% 55.9%;
      --primary-foreground: 0 0% 100%;
      --secondary: 271.5 30% 70%;
      --secondary-foreground: 0 0% 0%;
      --muted: 233.5 30% 85%;
      --muted-foreground: 271.5 5% 35%;
      --accent: 233.5 30% 80%;
      --accent-foreground: 271.5 5% 10%;
      --destructive: 0 100% 30%;
      --destructive-foreground: 271.5 5% 90%;
      --border: 271.5 30% 50%;
      --input: 271.5 30% 18%;
      --ring: 271.5 81.3% 55.9%;
      --radius: 0.5rem;
    }
    .dark  {
      --background: 271.5 50% 5%;
      --foreground: 271.5 5% 90%;
      --card: 271.5 50% 0%;
      --card-foreground: 271.5 5% 90%;
      --popover: 271.5 50% 5%;
      --popover-foreground: 271.5 5% 90%;
      --primary: 271.5 81.3% 55.9%;
      --primary-foreground: 0 0% 100%;
      --secondary: 271.5 30% 10%;
      --secondary-foreground: 0 0% 100%;
      --muted: 233.5 30% 15%;
      --muted-foreground: 271.5 5% 60%;
      --accent: 233.5 30% 15%;
      --accent-foreground: 271.5 5% 90%;
      --destructive: 0 100% 30%;
      --destructive-foreground: 271.5 5% 90%;
      --border: 271.5 30% 18%;
      --input: 271.5 30% 18%;
      --ring: 271.5 81.3% 55.9%;
      --radius: 0.5rem;
    }
  }

  



  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  @font-face {
    font-family: "OceanlyOceanly";
    src: url("./assets/fonts/oceanly-oceanly-svg-400.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
  font-family: "Melodrama";
  src: url("./assets/fonts/Melodrama-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

  .star-bullet {
    @apply relative pl-6;
  }

  .star-bullet::before {
    content: "";
    @apply absolute left-0 top-1 w-4 h-4 md:w-5 md:h-5 bg-no-repeat bg-center bg-contain;
    background-image: url("./assets/svgs/list-icon.svg");
  }