body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke; /* Light yellow background */
  
  }
  
  nav a {
    color: #ffffff; /* White text color */
    margin: 0 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  nav a svg {
    margin-right: 0.5rem;
  }
  
  .banner-image {
    width: 100%;
    height: auto;
  }
  
  section {
    border-bottom: 1px solid #ADD899;
  }
  
  footer {
    background: #a4a3a8;
    color: #6c5fe9;
    text-align: center;
    padding: 1rem;
  }
  
  h1, h2 {
    color: #6c5fe9; 
    text-align: center;
  }
  
  a {
    color: #030202;
  }
  